 /* X-Small devices (portrait phones, less than 576px) */
 
 @media (max-width: 575.98px) {
     html {
         font-size: 35%;
     }
 }
 /* // Small devices (landscape phones, less than 768px) */
 
 @media (max-width: 767.98px) {
     html {
         font-size: 50%;
     }
     .logo-img img {
         max-width: 80%;
     }
     .logo-cont h1 {
         font-size: 2.6rem !important;
     }
     .logo-cont p {
         font-size: 1.4rem !important;
     }
     .logo-cont {
         margin-left: 0!important;
     }
     .cus-nav-toggler i {
         font-size: 2.8rem;
     }
     .cus-nav {
         padding: 1.4rem 0;
     }
     .abt-sing {
         margin-bottom: 20px;
     }
     .cus-menu {
         text-align: center;
     }
     .cus-menu ul span {
         display: none;
     }
     .single-appr-content {
         padding: 2rem;
         margin-top: 1rem;
         margin-left: 2rem;
     }
     .left-part img,
     .left-part .right-img {
         display: none !important;
     }
     .s-app-2 {
         text-align: start !important;
     }
     h1 {
         font-size: 2.8rem !important;
     }
     h2 {
         font-size: 1.8rem;
     }
     .sing-cont-details i {
         font-size: 2rem!important;
         margin-top: 10px;
         margin-bottom: 10px;
         padding-top: 8rem;
     }
     .sing-cont-details h3 {
         font-size: 1.4rem!important;
     }
     .cont-btn {
         font-size: 1.2rem!important;
         padding: 7px 10px;
     }
 }
 /* // Medium devices (tablets, less than 992px) */
 
 @media (max-width: 991.98px) {
     html {
         font-size: 60%;
     }
     .cus-menu {
         text-align: center;
     }
     .cus-menu ul span {
         display: none;
     }
     .common-title {
         margin-top: 5rem;
         margin-bottom: 4rem;
     }
     .banner-cont p {
         font-size: 2rem;
         margin-bottom: 2rem;
     }
     .banner-cont a {
         font-size: 1.8rem;
         padding: 6px 18px;
     }
     #about,
     #approach,
     #work,
     #analysis {
         padding-bottom: 5.5rem;
     }
     h1 {
         font-size: 3rem;
     }
     h2 {
         font-size: 2rem;
     }
     .single-appr {
         margin-bottom: 2.5rem;
     }
     .left-part .right-img {
         width: 80px;
         height: 80px;
         top: 18%;
         right: -15%;
     }
     .single-appr-content {
         padding: 3rem;
         margin-top: 0rem;
         margin-left: 2rem;
     }
     .s-app-2 {
         margin-right: 2.3rem;
     }
     .sing-cont-details i {
         font-size: 3rem;
         margin-top: 20px;
         margin-bottom: 20px;
     }
     .sing-cont-details h3 {
         font-size: 1.8rem;
     }
     .btm-drop {
         width: 4rem !important;
         height: 4rem !important;
     }
     .btm-drop i {
         font-size: 2rem !important;
     }
     .form-part-sub p {
         font-size: 1.5rem;
         padding-top: 36px;
     }
     .form-part {
         padding-top: 10px;
         margin-bottom: 30px;
     }
     .form-part>div {
         margin-bottom: 1.3rem!important;
     }
     .form-part .form-control {
         font-size: 1.4rem;
         padding: .8rem;
     }
     .cont-btn {
         font-size: 1.4rem;
         padding: 7px 10px;
     }
     .social {
         margin-top: 20px;
         margin-bottom: 22px;
     }
     .social span {
         margin: 0 4px;
         border-radius: 4px;
         padding: 12px 4px;
     }
     .social span i {
         font-size: 2rem;
         padding: 6px;
     }
     .cont-title p {
         font-size: 1.5rem!important;
     }
     .cust-email {
         margin: 18px 0;
     }
     .btn-subscribe {
         font-size: 1.5rem!important;
         border-radius: 4px;
         padding: 7px 18px;
     }
     #contact {
         padding-bottom: 0rem;
     }
     footer {
         padding: 1rem;
     }
 }
 /* // Large devices (desktops, less than 1200px) */
 
 @media (max-width: 1199.98px) {}
 /* // X-Large devices (large desktops, less than 1400px) */
 
 @media (max-width: 1399.98px) {}
 /* @media screen and (max-width: 640px) {
    .container {
        display: block;
        width: 100%;
    }
}

@media screen and (min-width: 900px) {
    .container {
        width: 33.33333%;
    }
} */