@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --bg-color: #fff;
    --bg-color-2: #f3f3f3;
    --title-color: #424242;
    --para-color: #5c5c5c;
    --col-red: #de2b24;
    --col-pur: #f35e59;
}

h1 {
    font-size: 3.3rem;
    font-weight: 600;
    color: var(--title-color);
}

h2 {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--title-color);
}

h3 {
    font-size: 2rem;
    font-weight: 300;
    color: var(--title-color);
}

p {
    font-size: 1.4rem;
    color: var(--para-color);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


/************ 
header area start
************/

header {
    /* border: 1px solid rgb(40, 165, 18); */
}

.top-bar {
    /* border: 1px solid rgb(165, 18, 18); */
    background: var(--bg-color-2);
}

.top-bar ul {
    /* padding: 2rem 0; */
}

.top-bar ul li {
    /* margin-left: auto; */
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--title-color);
    margin: 0 1.4rem;
    padding: 1rem 0;
}

.cus-border {
    border-right: 1px solid #cecece;
    height: 5rem;
}

.top-bar ul li i {
    font-size: 2.4rem;
    margin-right: 1.3rem;
}

.top-bar ul li:last-child {
    margin-right: 0;
}

.top-bar ul li:last-child i {
    font-size: 3rem;
}