@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --bg-color: #fff;
    --bg-color-2: #f3f3f3;
    --title-color: #424242;
    --para-color: #5c5c5c;
    --col-red: #de2b24;
    --col-pur: #f35e59;
}

h1 {
    font-size: 3.3rem;
    font-weight: 700;
    color: var(--title-color);
}

h2 {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--title-color);
}

h3 {
    font-size: 2rem;
    font-weight: 300;
    color: var(--title-color);
}

p {
    font-size: 1.4rem;
    color: var(--para-color);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


/* common-title */

.common-title {
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 6.5rem;
}

.common-title h1 {
    margin: 0;
}

.common-title h3 {
    margin-top: 1.4rem;
    margin-bottom: 1.5rem;
}

.common-title .btm-border {
    width: 47px;
    height: 5px;
    background: var(--title-color);
    margin: 0 auto;
}


/************ 
header area start
************/

header {
    /* border: 1px solid rgb(40, 165, 18); */
}

.top-bar {
    /* border: 1px solid rgb(165, 18, 18); */
    background: var(--bg-color-2);
}

.top-bar ul {
    /* padding: 2rem 0; */
}

.top-bar ul li {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--title-color);
    margin: 0 1.4rem;
    padding: 1rem 0;
}

.cus-border {
    border-right: 1px solid #cecece;
    height: 5rem;
}

.top-bar ul li i {
    font-size: 2.4rem;
    margin-right: 1.3rem;
}

.top-bar ul li:last-child {
    margin-right: 0;
}

.top-bar ul li:last-child i {
    font-size: 3rem;
}


/* menu-bar */

.menu-bar {
    /* border: 1px solid rgb(165, 150, 18); */
}

.cus-nav {
    padding: 2.6rem 0;
}

.logo {}

.logo a {}

.logo a img {}

.logo-cont {}

.logo-cont h1 {
    margin: 0;
}

.logo-cont p {
    font-size: 1.6rem;
    margin: 0;
    color: var(--title-color);
}

.cus-nav button {}

.cus-nav span {}


/* menu */

.cus-menu {}

.cus-menu ul {}

.cus-menu ul li {
    margin: 0 1.2rem;
}

.cus-menu ul li:last-child {
    margin: 0;
}

.cus-menu ul li a {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--title-color);
}

.cus-menu ul span {
    height: 0.8rem;
    width: 0.8rem;
    background: var(--title-color);
    border-radius: 50%;
    margin-top: 1.4rem;
}

.cons-btn a {
    background: var(--col-red);
    color: #fff !important;
}


/************ 
header area end
************/


/************ 
banner section start
************/

#banner {
    /* border: 1px solid #de2b24; */
    min-height: 73vh;
    background: linear-gradient( rgba(14, 13, 13, 0.7), rgba(15, 15, 15, 0.7)), url(../img/banner-1.jpg) no-repeat center;
    background-size: cover;
    position: relative;
}

.banner-cont {
    /* padding: 40px 0; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.banner-cont h1 {
    color: var(--bg-color);
}

.banner-cont p {
    font-size: 2.2rem;
    font-weight: 300;
    color: var(--bg-color-2);
    margin-bottom: 2.8rem;
}

.banner-cont a {
    font-size: 2.1rem;
    font-weight: 400;
    background: #f8cd53;
    color: #fff !important;
    padding: 6px 25px;
}

.banner-btn {}


/************ 
banner section end
************/


/************ 
about section start
************/

#about {}

.abt-title {}

.abt-title h1 {}

.abt-content {
    margin-bottom: 11rem;
}

.abt-content img {}

.abt-content h2 {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.abt-content p {
    line-height: 1.6;
}


/************ 
about section end
************/


/************ 
approach section start
************/

#approach {
    background: var(--bg-color-2);
}

.appr-title {}

.appr-content {}


/* single item */

.single-appr {
    background: var(--bg-color);
    margin-bottom: 3.5rem;
    -webkit-box-shadow: 1px 1px 11px 5px rgba(0, 0, 0, 0.78);
    box-shadow: 1px 1px 11px 5px rgba(0, 0, 0, 0.78);
    border-radius: 5px;
}

.single-appr .row {
    --bs-gutter-x: 0!important;
}

.left-part {
    position: relative;
}

.left-part img {
    border-radius: 5px 0 0 5px !important;
}

.left-part .right-img {
    width: 100px;
    height: 100px;
    background: var(--col-red);
    border: 2px solid #fff;
    border-radius: 5px;
    display: inline-block;
    position: absolute;
    top: 30%;
    right: -5%;
    z-index: 2;
}

.right-img p {
    color: var(--bg-color);
    font-size: 1.6rem;
    margin: 0;
}

.num {
    font-size: 4.5rem !important;
    font-weight: 900!important;
}

.t-2 img {
    border-radius: 0 5px 5px 0 !important;
}

.type-2 {
    top: 30%;
    left: -14%;
}

.single-appr-content {}


/************ 
approach section end
************/


/************ 
approach section start
************/


/************ 
approach section end
************/